extends ../includes/layout.pug

block content
    .error-content
        h1 Page not found.

        p Looks like you've visiting a invalid page.
        p If you're confirm that it is a problem, please report to me. 

        p
            a(href="/") Back to homepage
